In [83]:
import pandas as pd
import numpy
from time import gmtime, strftime

In [84]:
positionDate = strftime("%Y-%m-%d", gmtime())
positionDate

'2019-03-17'

In [99]:
def dfToClipboardAndDisplay(df, fileName=None, index=False):
    if fileName is not None:
        df.to_csv(fileName, index=False)
    df.to_clipboard(index=index, sep=",")
    display(df)

In [100]:
def getLeagueTable():
    """
        Return a dataframe with the current Premier League table from the BBC website
    """
    leagueTable = pd.read_html(io="https://www.bbc.co.uk/sport/football/premier-league/table")
    leagueTable = leagueTable[0]
    leagueTable.rename(columns = {'Unnamed: 0':'Actual Position', 'Pts':'Points', 'P':'Played'}, inplace = True)
    #leagueTable.rename(columns = {'Live':'Actual Position', 'Pts':'Points', 'P':'Played'}, inplace = True)
    leagueTable['Position Date'] = positionDate
    leagueTable2 = leagueTable[['Position Date', 'Team', 'Played', 'Points', 'Actual Position']]
    leagueTable3 = leagueTable2[leagueTable2['Team'].notnull()]
    leagueTable3 = leagueTable3.astype( {"Actual Position": int, "Points": int, "Played": int} )
    
    return leagueTable3

In [117]:
# Get current league table
leagueTable = getLeagueTable()
dfToClipboardAndDisplay(leagueTable, "output/" + positionDate + "_" + "league_table.csv")

   Position Date            Team  Played  Points  Actual Position
0     2019-03-17       Liverpool      31      76                1
1     2019-03-17        Man City      30      74                2
2     2019-03-17       Tottenham      30      61                3
3     2019-03-17         Arsenal      30      60                4
4     2019-03-17         Man Utd      30      58                5
5     2019-03-17         Chelsea      30      57                6
6     2019-03-17          Wolves      30      44                7
7     2019-03-17         Watford      30      43                8
8     2019-03-17        West Ham      31      42                9
9     2019-03-17       Leicester      31      41               10
10    2019-03-17         Everton      31      40               11
11    2019-03-17     Bournemouth      31      38               12
12    2019-03-17       Newcastle      31      35               13
13    2019-03-17  Crystal Palace      30      33               14
14    2019-03-17        Brighton      29      33               15
15    2019-03-17     Southampton      30      30               16
16    2019-03-17         Burnley      31      30               17
17    2019-03-17         Cardiff      30      28               18
18    2019-03-17          Fulham      31      17               19
19    2019-03-17    Huddersfield      31      14               20

In [102]:
# Get all predictions from file
dfPredictions = pd.read_excel(r"Premier League Predictions.xlsx", sheet_name = "Predictions")
dfToClipboardAndDisplay(dfPredictions, None)

      Name            Team  Predicted Position
0    Colin        Man City                   1
1    Colin       Liverpool                   2
2    Colin       Tottenham                   3
3    Colin         Man Utd                   4
4    Colin         Chelsea                   5
5    Colin         Arsenal                   6
6    Colin         Everton                   7
7    Colin         Burnley                   8
8    Colin        West Ham                   9
9    Colin       Leicester                  10
10   Colin     Bournemouth                  11
11   Colin       Newcastle                  12
12   Colin  Crystal Palace                  13
13   Colin          Wolves                  14
14   Colin         Watford                  15
15   Colin    Huddersfield                  16
16   Colin          Fulham                  17
17   Colin        Brighton                  18
18   Colin     Southampton                  19
19   Colin         Cardiff                  20
20    Greg        Man City                   1
21    Greg       Liverpool                   2
22    Greg         Chelsea                   3
23    Greg         Man Utd                   4
24    Greg       Tottenham                   5
25    Greg         Arsenal                   6
26    Greg       Newcastle                   7
27    Greg         Burnley                   8
28    Greg       Leicester                   9
29    Greg         Everton                  10
..     ...             ...                 ...
90    Nick     Bournemouth                  11
91    Nick         Burnley                  12
92    Nick         Watford                  13
93    Nick  Crystal Palace                  14
94    Nick       Newcastle                  15
95    Nick    Huddersfield                  16
96    Nick          Wolves                  17
97    Nick        Brighton                  18
98    Nick          Fulham                  19
99    Nick         Cardiff                  20
100   Paul        Man City                   1
101   Paul       Liverpool                   2
102   Paul         Arsenal                   3
103   Paul       Tottenham                   4
104   Paul         Chelsea                   5
105   Paul         Man Utd                   6
106   Paul         Everton                   7
107   Paul        West Ham                   8
108   Paul        Brighton                   9
109   Paul         Burnley                  10
110   Paul     Bournemouth                  11
111   Paul       Leicester                  12
112   Paul     Southampton                  13
113   Paul  Crystal Palace                  14
114   Paul          Fulham                  15
115   Paul         Watford                  16
116   Paul    Huddersfield                  17
117   Paul         Cardiff                  18
118   Paul          Wolves                  19
119   Paul       Newcastle                  20

[120 rows x 3 columns]

In [116]:
dfPoints = pd.merge(dfPredictions, leagueTable, on="Team", how="inner")
dfPoints['Penalty Points'] = abs(dfPoints['Actual Position'] - dfPoints['Predicted Position'])
dfToClipboardAndDisplay(dfPoints.sort_values(['Name', 'Penalty Points']), "output/" + positionDate + "_" + "points.csv")

,Name,Team,Predicted Position,Position Date,Played,Points,Actual Position,Penalty Points
12,Colin,Tottenham,3,2019-03-17,30,61,3,0
48,Colin,West Ham,9,2019-03-17,31,42,9,0
54,Colin,Leicester,10,2019-03-17,31,41,10,0
0,Colin,Man City,1,2019-03-17,30,74,2,1
6,Colin,Liverpool,2,2019-03-17,31,76,1,1
18,Colin,Man Utd,4,2019-03-17,30,58,5,1
24,Colin,Chelsea,5,2019-03-17,30,57,6,1
60,Colin,Bournemouth,11,2019-03-17,31,38,12,1
66,Colin,Newcastle,12,2019-03-17,31,35,13,1
72,Colin,Crystal Palace,13,2019-03-17,30,33,14,1
30,Colin,Arsenal,6,2019-03-17,30,60,4,2
96,Colin,Fulham,17,2019-03-17,31,17,19,2
114,Colin,Cardiff,20,2019-03-17,30,28,18,2
102,Colin,Brighton,18,2019-03-17,29,33,15,3
108,Colin,Southampton,19,2019-03-17,30,30,16,3
36,Colin,Everton,7,2019-03-17,31,40,11,4
90,Colin,Huddersfield,16,2019-03-17,31,14,20,4
78,Colin,Wolves,14,2019-03-17,30,44,7,7
84,Colin,Watford,15,2019-03-17,30,43,8,7
42,Colin,Burnley,8,2019-03-17,31,30,17,9
61,Greg,Bournemouth,12,2019-03-17,31,38,12,0
1,Greg,Man City,1,2019-03-17,30,74,2,1
7,Greg,Liverpool,2,2019-03-17,31,76,1,1
19,Greg,Man Utd,4,2019-03-17,30,58,5,1
37,Greg,Everton,10,2019-03-17,31,40,11,1
55,Greg,Leicester,9,2019-03-17,31,41,10,1
97,Greg,Fulham,18,2019-03-17,31,17,19,1
103,Greg,Brighton,14,2019-03-17,29,33,15,1
13,Greg,Tottenham,5,2019-03-17,30,61,3,2
31,Greg,Arsenal,6,2019-03-17,30,60,4,2
...,...,...,...,...,...,...,...,...
58,Nick,Leicester,8,2019-03-17,31,41,10,2
70,Nick,Newcastle,15,2019-03-17,31,35,13,2
118,Nick,Cardiff,20,2019-03-17,30,28,18,2
106,Nick,Brighton,18,2019-03-17,29,33,15,3
40,Nick,Everton,7,2019-03-17,31,40,11,4
94,Nick,Huddersfield,16,2019-03-17,31,14,20,4
46,Nick,Burnley,12,2019-03-17,31,30,17,5
88,Nick,Watford,13,2019-03-17,30,43,8,5
112,Nick,Southampton,9,2019-03-17,30,30,16,7
82,Nick,Wolves,17,2019-03-17,30,44,7,10
77,Paul,Crystal Palace,14,2019-03-17,30,33,14,0
119,Paul,Cardiff,18,2019-03-17,30,28,18,0
5,Paul,Man City,1,2019-03-17,30,74,2,1
11,Paul,Liverpool,2,2019-03-17,31,76,1,1
17,Paul,Tottenham,4,2019-03-17,30,61,3,1
23,Paul,Man Utd,6,2019-03-17,30,58,5,1
29,Paul,Chelsea,5,2019-03-17,30,57,6,1
35,Paul,Arsenal,3,2019-03-17,30,60,4,1
53,Paul,West Ham,8,2019-03-17,31,42,9,1
65,Paul,Bournemouth,11,2019-03-17,31,38,12,1
59,Paul,Leicester,12,2019-03-17,31,41,10,2
95,Paul,Huddersfield,17,2019-03-17,31,14,20,3
113,Paul,Southampton,13,2019-03-17,30,30,16,3
41,Paul,Everton,7,2019-03-17,31,40,11,4
101,Paul,Fulham,15,2019-03-17,31,17,19,4
107,Paul,Brighton,9,2019-03-17,29,33,15,6
47,Paul,Burnley,10,2019-03-17,31,30,17,7
71,Paul,Newcastle,20,2019-03-17,31,35,13,7
89,Paul,Watford,16,2019-03-17,30,43,8,8
83,Paul,Wolves,19,2019-03-17,30,44,7,12

In [114]:
# Top 10 worst predictions
dfToClipboardAndDisplay(dfPoints.sort_values(['Penalty Points'], ascending=False).head(20))

,Name,Team,Predicted Position,Position Date,Played,Points,Actual Position,Penalty Points
83,Paul,Wolves,19,2019-03-17,30,44,7,12
82,Nick,Wolves,17,2019-03-17,30,44,7,10
42,Colin,Burnley,8,2019-03-17,31,30,17,9
43,Greg,Burnley,8,2019-03-17,31,30,17,9
80,Koysor,Wolves,16,2019-03-17,30,44,7,9
89,Paul,Watford,16,2019-03-17,30,43,8,8
44,Koysor,Burnley,9,2019-03-17,31,30,17,8
87,Himesh,Watford,15,2019-03-17,30,43,8,7
47,Paul,Burnley,10,2019-03-17,31,30,17,7
99,Himesh,Fulham,12,2019-03-17,31,17,19,7
86,Koysor,Watford,15,2019-03-17,30,43,8,7
112,Nick,Southampton,9,2019-03-17,30,30,16,7
71,Paul,Newcastle,20,2019-03-17,31,35,13,7
84,Colin,Watford,15,2019-03-17,30,43,8,7
78,Colin,Wolves,14,2019-03-17,30,44,7,7
49,Greg,West Ham,16,2019-03-17,31,42,9,7
98,Koysor,Fulham,13,2019-03-17,31,17,19,6
67,Greg,Newcastle,7,2019-03-17,31,35,13,6
107,Paul,Brighton,9,2019-03-17,29,33,15,6
46,Nick,Burnley,12,2019-03-17,31,30,17,5

In [105]:
# All spot on predictions
dfPointsfilter = dfPoints['Penalty Points']==0
dfPoints[dfPointsfilter].sort_values(['Penalty Points', 'Predicted Position'], ascending=True)

,Name,Team,Predicted Position,Position Date,Played,Points,Actual Position,Penalty Points
2,Koysor,Man City,2,2019-03-17,30,74,2,0
12,Colin,Tottenham,3,2019-03-17,30,61,3,0
48,Colin,West Ham,9,2019-03-17,31,42,9,0
54,Colin,Leicester,10,2019-03-17,31,41,10,0
57,Himesh,Leicester,10,2019-03-17,31,41,10,0
61,Greg,Bournemouth,12,2019-03-17,31,38,12,0
74,Koysor,Crystal Palace,14,2019-03-17,30,33,14,0
75,Himesh,Crystal Palace,14,2019-03-17,30,33,14,0
76,Nick,Crystal Palace,14,2019-03-17,30,33,14,0
77,Paul,Crystal Palace,14,2019-03-17,30,33,14,0
119,Paul,Cardiff,18,2019-03-17,30,28,18,0
100,Nick,Fulham,19,2019-03-17,31,17,19,0

In [110]:
# AVerage prediction by team
# dfAveragePrediction = dfPoints[['Team', 'Predicted Position', 'Actual Position']].groupby(['Team']).mean().sort_values(['Predicted Position'])
import numpy as np
dfAveragePrediction = dfPoints[['Team', 'Predicted Position', 'Actual Position']].groupby(['Team']).agg({'Predicted Position':np.mean ,'Actual Position':np.mean}).sort_values(['Predicted Position'])
dfAveragePrediction.rename(columns = {'Predicted Position':'Average Prediction'}, inplace = True)
dfAveragePrediction['Difference'] = dfAveragePrediction['Average Prediction'] - dfAveragePrediction['Actual Position']
dfToClipboardAndDisplay(dfAveragePrediction, index=True)

                Average Prediction  Actual Position  Difference
Team
Man City                  1.166667                2   -0.833333
Liverpool                 2.166667                1    1.166667
Man Utd                   3.500000                5   -1.500000
Chelsea                   4.166667                6   -1.833333
Tottenham                 4.666667                3    1.666667
Arsenal                   5.333333                4    1.333333
Everton                   7.500000               11   -3.500000
West Ham                  9.833333                9    0.833333
Burnley                  10.000000               17   -7.000000
Leicester                10.166667               10    0.166667
Bournemouth              12.000000               12    0.000000
Newcastle                12.666667               13   -0.333333
Wolves                   14.333333                7    7.333333
Crystal Palace           14.333333               14    0.333333
Watford                  14.500000                8    6.500000
Brighton                 15.666667               15    0.666667
Fulham                   15.666667               19   -3.333333
Southampton              15.833333               16   -0.166667
Huddersfield             16.833333               20   -3.166667
Cardiff                  19.666667               18    1.666667

In [113]:
dfSummary = dfPoints[['Name', 'Penalty Points']].groupby(['Name']).sum().sort_values('Penalty Points')
dfToClipboardAndDisplay(dfSummary, index=True)

        Penalty Points
Name
Himesh              48
Colin               50
Nick                56
Greg                58
Koysor              62
Paul                64